[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
nltk = "*"
pretty_midi = "*"
pyyaml = "*"
tensorflow-gpu = "*"

[dev-packages]
pylint = "*"
yapf = "*"
portal-gun = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
